body {
  font-family: Source Sans Pro, sans-serif;
}

h1 {
  font-family: Nixie One, sans-serif;
  text-shadow: 4px 4px 4px #aaa
}

h2 {
  font-family: Nixie One, sans-serif;
}

button {
  border-radius: 5px;
  color: black;
  font-size: 16px;
  padding: 2px 5px 2px 5px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}


.jobBox {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  width: 640px;
  margin: 2px;
  padding: 10px
}

.jobTitle {
  font-weight: bold;
  font-size: 14pt;
}

.jobCompany {
  font-weight: bold;
  font-style: italic;
  font-size: 14pt;
}

.jobDate {
  font-weight: bold;
  font-size: 14pt;
}

.textAlignRight {
  text-align: right;
}

.applicantsTable {
  border: 1px solid black;
}

th {
  background-color: gray;
}

.applicantsTable tr:nth-child(even) {
  background-color: #d3d3d3;
}

.applicantsCell {
  border-right: 1px solid black;
}
